table{
  border: 3px double black;
  background-image: linear-gradient(to bottom, hsl(0,75%,40%), green);
}
td{
  border: 3px double black;
  padding: 0 15px 0 15px;
}
tbody{
  text-align: left;
}
